################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HMI4a/v17
/.vs
/HMI4a/obj/Debug
